/* Connect Tailwind CSS */
@tailwind base;
@tailwind components;
@tailwind utilities;

/* Business colors */
:root {
    --bg-color: #ffffff;
    --yellow: #ffe25b;
    --text-color: #222222;
    --gray: #707c7c;
    --bg-blur: rgba(0, 0, 0, 0.2);
}

/* Change light/dark theme */
@media (prefers-color-scheme: dark) {
    :root {
        --bg-color: #222222;
        --yellow: rgba(255, 226, 91, 0.15);
        --text-color: #ffffff;
        --gray: #d3d3d3;
        --bg-blur: rgba(0, 0, 0, 0.2);
    }
}
/* Default styles
 - Text color use variable
 - Background color use variable
 */
body,
header {
    color: var(--text-color);
    background: var(--bg-color);
}

.animationP {
    /*box-shadow: 0 0 0 20px rgba(229,62,62, 0.5);*/
    transform: scale(0.8);
    animation: pulse 3.5s infinite;
}

@keyframes pulse {
    0% {
        transform: scale(0.8);
        box-shadow: 0 0 0 0 #ffe25b26;
    }

    70% {
        transform: scale(0.9);
        box-shadow: 0 0 0 10px #ffe25b26;
    }

    100% {
        transform: scale(0.8);
    }
}
